<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- fontawesome  -->
    <script src="https://kit.fontawesome.com/fb93ded780.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="vendors/css/style.css">
    
    <title>Muslims Apparel</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white">
        <div class="container bg-white">
            <img class="img-fluid" style="width: 50px; height: 50px; border-radius: 50%;" src="images/logo/logo.png" alt="">
          <a class="navbar-brand bg-white heading-text" href="#">Muslims Apparel</a>
          <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse bg-white" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0 bg-white">
              <li class="nav-item">
                <a class=" nav-bg" aria-current="page" href="#">Home</a>
              </li>
              
              <li class="nav-item dropdown">
                <a class="nav-bg dropdown-toggle nav-bg" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  All Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'product' %}?category=KHILMAR">KHIMAR</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=JILBAB">JILBAB</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=ABAYA/BORKA">ABAYA/BORKA</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=LINEN">LINEN</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=COTTON">COTTON</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=CAPE">CAPE</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=NIQAB">NIQAB</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=HAND GLOVES & SOCKS">HAND GLOVES &
                      SOCKS</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=SUNNAH ITEM">SUNNAH ITEM</a>
                  <a class="dropdown-item" href="{% url 'product' %}?category=ORGANIC FOOD">ORGANIC FOOD</a>
                </ul>
              </li>
              <li class="nav-item">
                <a class=" nav-bg" href="#">Services</a>
              </li>
              <li class="nav-item">
                <a class=" nav-bg" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-bg" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



      <div class="container-fluid">
        <div class="row banner-div">
          <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
            <div>
              <h1 class="title1">Muslims Apparel</h1>
              <h5>According to Shariah</h5>
              <h3>Online Islamic Shop</h3>
            </div>
          </div>
          
        </div>
      </div>


      <div class="container">
        <div class="row my-5">
          <!--Single Service-->
          <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-ambulance fa-2x pt-4"></i>
            </span>
            <h5 class="font-weight-bold mt-3 text-uppercase">CASH ON DELIVERY</h5>
            <p class="text-capitalize">CASH ON DELIVERY INSIDE DHAKA CITY CORPORATION</p>
          </div>
              <!--end of Service=-->
              <!--Single Service-->
          <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-headset fa-2x pt-4"></i>
            </span>
            <h5 class="font-weight-bold mt-3 text-uppercase">CUSTOMER SERVICE</h5>
            <p class="text-capitalize">24/7 DEDICATED CUSTOMER SERVICE AGENT</p>
          </div>
              <!--end of Service=-->
              <!--Single Service-->
          <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-shield-alt fa-2x pt-4"></i>
            </span>
            <h5 class="font-weight-bold mt-3 text-uppercase">SECURE PAYMENT</h5>
            <p class="text-capitalize">100% SECURE PAYMENT PROCESS & NO HIDDEN CHARGE</p>
          </div>
              
          </div>
      </div>


      <div class="container">
        <div class="row my-5">
          <div class="text-center">
            <span class="product-title">Upcoming Products</span>
          </div>
        </div>
        <div class="custom-row mb-5">
          <div class="my-3 text-center">
            <div class="product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-5">
          <div class="text-center">
            <span class="product-title">Most Demandable Products</span>
          </div>
        </div>

        <div class="custom-row mb-5">
          <div class="my-3 text-center">
            <div class="product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-5">
          <div class="text-center">
            <span class="product-title"> Sunnah Item</span>
          </div>
        </div>
        <div class="custom-row mb-5">
          <div class="my-3 text-center">
            <div class="product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
          <div class="my-3 text-center">
            <div class=" product-div">
              <div>
                <img style="width: 600; height: 600" src="images/new arrivals/product1.jpg" class="img-fluid"alt="">
              </div>
              <div class="my-3">
                <h6 class="title2">Salah Khimar</h6>
                <p>
                  80৳<br>
                  <del>100৳</del>
                </p>
                <button class="btn btn-dark">See More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>