

/****  Navbar Start  ****/
/* resposive navbar x icon css  strt*/
.hidden{
    display: none;
  }
  #navbar-close i {
	font-size: 35px;
}
/* resposive navbar x icon css end */
.navbar-light .navbar-brand {
    font-size: 35px;
    font-weight: bold;
    color: #7D2A80;
    font-family: 'Lobster', cursive;
}
.navbar-light .navbar-brand:hover {
    color: #7D2A80;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #af75ea;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #af75ea;
}
.navbar .nav-link{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 16px !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #af75ea;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #F8F9FA;
}
.dropdown-item{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-toggler{
    outline: none !important;
}

/****  Navbar End  ****/



/*======Service Section=====*/
  .service-icon{
      display: inline-block;
      font-size: 32px;
      margin-bottom: 16px;
      color: #af75ea;
      padding: 8px 16px;
  }
  .section-header{
    color: #fff;
    background-color: black;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
/*======End of Service Section====*/



/*new arrival start*/

.collection span {
    color: #8e44ad;
    font-size: 19px;
    font-weight: 700;
    padding-left: 5px;
}
.single-card {
    margin-bottom: 10px;
}


.card_img img {
    width: 270px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.card_content {
    text-align: center;
    display: inline-block;
    width: 206px;
    margin-left: 50%;
}
.card_content h4 {
    color: #2a2a65;
    font-weight: 300;
}
.slick-dots li button:before {
    font-size: 40px;
    color: #af75ea;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #af75ea;
}
.slider-left,.slider-right{
    position: relative;
    z-index: 555;
}
.single-card{
    position: relative;
}
.single-card-hover {
	position: absolute;
	left: 16px;
	top: 0;
	content: '';
	height: 78.5%;
	width: 269px;
	border-radius: 5px;
	background: #000000a3;
	opacity: 0;
    transition:.9s ease-in;
}
.single-card-hover:hover {
    opacity: 1;
    cursor: pointer;
}
button.btn.btn-primary.single-card-hover-btn-1 {
    left: 50px;
    position: relative;
    top: 180px;
}
button.btn.btn-info.single-card-hover-btn-2 {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 62px;
}
/* //single-card */
.collection input {
    position: absolute;
    top: 40%;
    left: 30%;
    opacity: 0;
    height: 45px;
    width: 110px;
    background-color: #af75ea;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center; 
    cursor: pointer;
}
.collection .card:hover input {
    opacity: 1;
    transition: 0.5s;
}
.collection input:hover {
    background-color: #8e44ad;
    transition: 0.5s;
}




/*new arrival end*/
/* slider arrow css start */
.slick-prev::before, .slick-next::before {
	font-size: 30px;
	opacity: 1;
	color: #b47eeb;
}
.slick-prev {
	left: -25px;
	top: 40%;
}
.slick-next {
	right: -25px;
	top: 40%;
}
/* slider arrow css end */

/* best selling css strt */
.single-card-2{
    position: relative;
}
.single-card-hover-2 {
	position: absolute;
	left: 15px;
	top: 0;
	content: '';
	height: 66%;
	width: 223.5px;
	border-radius: 5px;
	background: #000000a3;
	opacity: 0;
}
.single-card-hover-2:hover {
    opacity: 1;
    cursor: pointer;
    transition:.9s ease-in;
}
button.btn.btn-primary.single-card-hover-2-btn-1 {
    position: relative;
    top: 36px;
    left: 50px;
}
button.btn.btn-info.single-card-hover-2-btn-2 {
    position: relative;
    left: 54px;
    top: 78px;
}
/* best selling css end */

.about-sec{
    margin-top: 25px;
}
.text-color{
    color: #000;
}
.about-img{
    margin-top: 200px;
    margin-bottom: 130px;
}

/* social css start */
.social_section{}
.social_section a {
    display: inline-block;
    margin: 0 20px;
    height: 60px;
    width: 60px;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0,0,0.1);
    border-radius: 50px;
    line-height: 60px;
    overflow: hidden;
    text-decoration: none;
    transition: all .3s ease-in-out;
    
}
.social_section a:nth-child(1) :hover i{
    background-color: #3b5998 ;
}
.social_section a:nth-child(2) :hover i{
    background-color: #00acee;
}
.social_section a:nth-child(3) :hover i{
    background-color: #8a3ab9;
}
.social_section a:nth-child(4) :hover i{
    background-color: #075e54;
}
.social_section a:hover {
    width: 200px;
}
.social_section a i {
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
}
.social_section a span{}
/* social css end */
/*footer start*/

footer {
    height: 70px;
    background-color: #af75ea;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
footer a {
    text-decoration: none !important;
    color: #fff;
}


/*footer end*/